<div class="home_container">
    <app-card
    gameCover="assets/bt-1.jpg"
    gameLabel="DIGITAL"
    gameType="FULL GAME | PS4" 
    gamePrice="R$ 290,90"
    ></app-card>

    <app-card
    gameCover="assets/bt-4.jpg"
    gameLabel="EXCLUSIVE"
    gameType="DIGITAL GAME | PS4 | PS3" 
    gamePrice="R$ 190,90"
    ></app-card>

    <app-card
    gameCover="assets/bt-5.jpg"
    gameLabel="EXCLUSIVE"
    gameType="DIGITAL GAME | PS4 " 
    gamePrice="R$ 190,90"
    ></app-card>

    <app-card
    gameCover="assets/ac-cover.jpg"
    gameLabel="EXCLUSIVE"
    gameType="DIGITAL GAME | PS3 " 
    gamePrice="R$ 90,90"
    ></app-card>

    <app-card
    gameCover="assets/bt-hardline.jpg"
    gameLabel="EXCLUSIVE"
    gameType="DIGITAL GAME | PS4 | PS3 " 
    gamePrice="R$ 90,90"
    ></app-card>
</div>